.Head{
    background-color: brown;
    position: sticky;
    height: 100px;
}
#myList{
   display: flex;
   list-style: none;
   margin: 20px;
   padding: 20px;
   gap: 20px;
  
}

.Page{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.Head ul li i{
    color: white;
}
.heroimg{
    position: relative;
}
.myHeading{
    position: absolute;
    top: 10%;
    transform: translateX(-10%x);
    color: white;
    font-size: 40px;
}
span{
    font-size: 20px;
}
.aboutus{
    margin: 20px;
    padding: 20px;
        display: flex;
}
.title{
    width: 100%;
    font-size: 30px;
    text-align: center;
}

.leftb,.rightb,.centerb{
    width: 50%;
    height: 100px;
}
.footer{
    background-color: brown;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}